# ======================
# Python
# ======================
__pycache__/
*.pyc

# ======================
# MLflow
# ======================
mlruns/

# ======================
# Training Artifacts
# ======================
artifacts/

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
